body 
{
    background-color: light brown;
     color: black;
}

fieldset
{ 
  font-size:15px;
  width: 20%;
  color: black;
}

#msg1{
    text-align: left;
    color:brown;
    background:white;
    width:30%;
}

.msg
{
    background-color: #ffffff;
}

#topLinks
{
   position: absolute;
    right: 0px;
    width: 500px;
}
